# Python cache files
__pycache__/
*.py[cod]

# pytest cache
.pytest_cache/

# pip cache (if ever stored locally)
pip-wheel-metadata/

# Virtual environment
venv/
.env/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VSCode settings (optional)
.vscode/
